/* laptop */

@media(max-width:1200px) {
    html {
        font-size: 80%;
    }
    section {
        padding: 6rem 0;
        height: 100vh;
        margin: 0 8.5rem;
    }
}


/* tablet */

@media (max-width: 980px) {
    html {
        font-size: 70%;
    }
    section {
        padding: 5rem 0;
        height: 100vh;
        margin: 0 5rem;
    }
    #menu {
        display: inline;
    }
    .list {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }
    nav .active {
        right: 0;
    }
}


/* phone */

@media(max-width:500px) {
    section {
        height: 100%;
        margin: 1rem 5% 0;
    }
    nav {
        height: 9vh;
    }
    .profile {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding-top: 9rem;
    }
    figure img {
        width: 350px;
        border-radius: 50%;
    }
    /* section about */
    main {
        flex-direction: column-reverse;
    }
    .figur-about img {
        width: 270px;
    }
    .skills-text {
        padding-bottom: 1rem;
    }
    .skills ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        gap: 1rem;
    }
    .project-kotak {
        flex-wrap: wrap;
        justify-content: center;
    }
}