* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --bg: rgba(255, 255, 255, 0.89);
    --border: rgba(0, 0, 0, 0.519);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
}


/* navigation */

.logo {
    font-size: 2rem
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    height: 15vh;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.list {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-underline-offset: 1rem;
}

#menu {
    font-size: 2rem;
    display: none;
}


/* Section Profile Start */