    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --bg: rgb(240, 240, 240);
        --border: rgba(0, 0, 0, 0.519);
        --gray: rgb(60, 60, 60);
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--bg);
    }
    /* navigation */
    
    .logo {
        font-size: 2rem
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 7%;
        height: 15vh;
        background-color: var(--bg);
        border-bottom: 1px solid var(--border);
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    
    .list {
        display: flex;
        gap: 1rem;
    }
    
    nav ul li {
        list-style: none;
    }
    
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }
    
    nav ul li a:hover {
        text-underline-offset: 1rem;
    }
    
    #menu {
        font-size: 2rem;
        display: none;
    }
    /* Section Profile Start */
    
    section {
        padding: 7rem 0;
        height: 100vh;
        margin: 0 10rem;
    }
    
    .profile {
        min-height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    figure img {
        width: 70%;
        border-radius: 50%;
    }
    
    .section-text {
        text-align: center;
        line-height: 2;
    }
    
    .section-text p {
        font-size: 1rem;
        color: var(--gray);
    }
    
    .section-text h2 {
        font-size: 2.5rem;
    }
    
    .section-text .front {
        font-size: 1.7rem;
    }
    
    .btn-profile button {
        padding: 5px 12px;
        border-radius: 10px;
        color: var(--gray);
        cursor: pointer;
    }
    
    .sosial-link i {
        padding: .5rem 0;
        font-size: 2.2rem;
        color: black;
    }
    /* Section Profile end  */
    
    .title {
        font-size: 2rem;
        padding: 1rem;
    }
    
    .figure-about img {
        width: 350px;
        /* width: 170%; */
        border-radius: 5%;
    }
    
    main {
        display: flex;
        gap: 1rem;
    }
    
    main article p {
        font-size: 1.5rem;
    }
    /* Section About end */
    /* section Skills start */
    
    .skills-text {
        padding: 1rem 0;
    }
    
    .skills ul {
        margin: 1rem;
    }
    
    .skills a {
        font-size: 1.5rem;
        background-color: gray;
        padding: 1rem 1.5rem;
        margin: 0 1rem;
    }
    /* section Skills end */
    /* section project start */
    
    .project h2 {
        font-size: 1.5rem;
    }
    
    .project-kotak {
        padding: 1rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .detail-project {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.373);
        border: 1px solid var(--gray);
        padding: 1rem 2rem;
        border-radius: 30px;
        text-align: center;
    }
    
    .article-project img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 30px;
        border: 1px solid rgb(208, 208, 208);
    }
    
    .detail-project h2 {
        padding: 1rem;
    }
    
    .btn-container button {
        outline: none;
        border: 1px solid black;
        padding: 10px 24px;
        border-radius: 15px;
        color: var(--gray);
    }
    /* section project end */
    /* section contact start */
    
    .contact {
        height: 90vh;
    }
    
    .contact h2 {
        font-size: 1.5rem;
    }
    
    .contact-box {
        padding: 1rem 0;
        display: flex;
    }
    
    .contact-small {
        font-size: 1rem;
        padding: 1.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        border: 1px solid rgb(9, 9, 9);
        border-radius: 20px;
    }
    
    .contact-small a {
        color: black;
        text-decoration: none;
    }
    
    .contact-small .email-small a:hover,
    .contact-small .linkedin-small a:hover,
    .contact-small .github-small a:hover {
        font-size: 1.1rem;
        transition: all 0.4s ease;
    }
    /* section contact end */
    /* footer start */
    
    footer {
        font-size: 1rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* footer end */