/* laptop */

@media(max-width:1200px) {
    section {
        margin: 0 4rem;
    }
}


/* tablet */

@media (max-width: 980px) {
    html {
        font-size: 85%;
    }
    nav {
        height: 11vh;
    }
    section {
        margin: 0 3rem;
        padding: 5rem 0;
    }
}


/* phone */

@media(max-width:500px) {
    section {
        height: 100%;
        margin: 6rem 5%;
        padding: 0;
    }
    .profile {
        margin-top: 0;
    }
    .profile figure img {
        width: 430px;
    }
    .section-text .front {
        font-size: 1.3rem;
    }
    #menu {
        display: inline;
    }
    .list {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }
    nav .active {
        right: 0;
    }
    nav {
        height: 9vh;
    }
    .profile {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding-top: 9rem;
    }
    .detail-project {
        width: 330px;
    }
    .article-project img {
        width: 300px;
        height: 170px;
        object-fit: fill;
        border-radius: 20px;
    }
    /* section about */
    main {
        flex-direction: column-reverse;
    }
    .figur-about img {
        width: 270px;
    }
    .skills-text {
        padding-bottom: 1rem;
    }
    .skills ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        gap: 1rem;
    }
    .project-kotak {
        flex-wrap: wrap;
        justify-content: center;
    }
}