* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(240, 240, 240);
    --border: rgba(0, 0, 0, 0.519);
    --gray: rgb(60, 60, 60);
    --add: rgb(192, 0, 210);
}

body {
    font-family: 'Merriweather', Arial, serif;
    background-color: var(--bg);
}


/* navigation */

.logo {
    font-size: 1.7rem;
}

.logo span {
    color: var(--add);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 7%;
    height: 15vh;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.list {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-underline-offset: 1rem;
    text-decoration: 3px underline var(--add);
}

#menu {
    font-size: 2rem;
    display: none;
}


/* Section Profile Start */

section {
    padding: 8rem 0;
    height: 100%;
    margin: 0 8rem;
}

.profile {
    margin-top: 3rem;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    padding: none;
    margin: none;
    width: 480px;
    border-radius: 50%;
}

.section-text {
    text-align: center;
    line-height: 1.8;
}

.section-text p {
    font-size: 1.3rem;
    color: var(--gray);
}

.section-text p span {
    color: var(--add);
}

.section-text h2 {
    font-size: 2.5rem;
}

.section-text .front {
    font-size: 1.7rem;
}

.btn-profile button {
    margin: .4rem;
    padding: 12px 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.506);
}

.btn-profile button:hover {
    background-color: var(--add);
    transition: all.5s ease;
}

.sosial-link i {
    padding: .5rem .5rem 0 0;
    font-size: 2.2rem;
    color: black;
    animation: animation 2s infinite;
}

@keyframes tulisan {
    0% {
        left: 20px;
    }
    100% {
        right: 20px;
    }
}


/* Section Profile end  */

.title {
    font-size: 2rem;
    padding: 2rem 0;
}

.figure-about img {
    width: 350px;
    border-radius: 5%;
}

main {
    display: flex;
    gap: 2rem;
}

main article p {
    font-size: 1.5rem;
}

article {
    line-height: 1.4;
}


/* Section About end */


/* section Skills start */

.skills-text {
    padding-bottom: 3rem;
}

.skills ul {
    margin: 1rem;
}

.skills a {
    font-size: 1.5rem;
    text-align: center;
    background-color: gray;
    padding: 2rem 1rem;
    margin: 0 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.skills a:hover {
    background: linear-gradient(gray, var(--add) 100%);
    transition: all .5s;
}


/* section Skills end */


/* section project start */

.project h2 {
    font-size: 1.5rem;
}

.project-kotak {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.detail-project {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    width: 450px;
}

.article-project img {
    width: 400px;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid rgb(208, 208, 208);
}

.detail-project h2 {
    padding: .5rem 0;
}

.detail-project p {
    margin-bottom: 1rem;
}

.detail-project p span {
    font-size: .7rem;
    padding: .2rem;
    margin: .5rem;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}

.btn-container button {
    outline: none;
    border: none;
    padding: 5px 12px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.623);
    border: 1px solid rgb(232, 232, 232);
    background-color: transparent;
    transition: all .3s;
    text-align: end;
}

.btn-container button a i {
    font-size: 2rem;
}

.btn-container button:hover {
    background-color: var(--add);
}


/* section project end */


/* section contact start */

.contact {
    position: sticky;
}

.contact h2 {
    font-size: 1.5rem;
}

.contact-box {
    padding: 1rem 0;
    display: flex;
}

.contact-small {
    font-size: 1rem;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--border);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.contact-small a {
    color: black;
    text-decoration: none;
    transition: all 0.4s ease;
}

.contact-small .email-small a:hover,
.contact-small .linkedin-small a:hover,
.contact-small .github-small a:hover {
    right: 50px;
}


/* section contact end */


/* footer start */

footer {
    font-size: 1rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* footer end */